n8n_flows/ocr_processing.json
{
  "name": "OCR Processing Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "digistock-ocr"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ocr-processing",
      "name": "Process OCR Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"message\": \"OCR processed successfully\", \"data\": $json} }}"
      },
      "id": "response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process OCR Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process OCR Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}