n8n_flows/ocr_processing_webhook.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ocr-process",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4ade7189-ce23-4fa0-a64c-4008c6a2b713",
      "name": "Webhook OCR",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -432,
        96
      ],
      "webhookId": "ocr-process"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.imageBase64 }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8b7633d8-8bb5-4baa-80e6-fc12e695b139",
      "name": "Check Base64",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"message\": \"imageBase64 is required\", \"data\": null}",
        "options": {}
      },
      "id": "3641df39-4435-4f43-9fb0-bb7d78e4f73a",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "documentType": "image_url",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "29337b08-4248-4c63-81b1-d2bebbdb213a",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "id": "CylM8GXj1nbT8Q5u",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.imageBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8cd53773-30d9-4893-807d-aaefe5927aee",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "// Lee el texto del OCR\nconst text = $json.pages?.[0]?.markdown;\n\nif (!text) {\n  throw new Error(\"No se encontró extractedText en la entrada\");\n}\n\n// Separa las líneas\nconst lines = text.split(\"\\n\").filter(l => l.trim() !== \"\");\n\n// Encuentra el header (línea de columnas)\nconst headerIndex = lines.findIndex(l => l.includes(\"INVENTARIO\") && l.includes(\"N.º DE ARTÍCULO\"));\nconst headers = lines[headerIndex].split(\"|\").map(h => h.trim()).filter(h => h);\n\n// Filtra las filas después del header\nconst rows = lines.slice(headerIndex + 1).map(line => {\n  const cols = line.split(\"|\").map(c => c.trim()).filter(c => c);\n  if (cols.length < headers.length) return null; // descartar filas incompletas\n  let obj = {};\n  headers.forEach((h, i) => {\n    obj[h] = cols[i] || \"\";\n  });\n  return obj;\n}).filter(r => r);\n\n// Devuelve en formato JSON\nreturn rows.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "adfcf50a-c909-4faa-b0a9-263bcf171d52",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3000/api/inventario/cargar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.inventario}}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "14c2b092-1b9f-4349-8e23-ab9b6cfe14f8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      inventario: items.map(item => item.json)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "8312d854-8001-4c5c-a925-445937e29148",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook OCR": {
      "main": [
        [
          {
            "node": "Check Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5bfdd0e1-a8b8-4cee-86e5-41c15d59edc2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a3bf45b8ba59b96bcd5c67e399e99a6ed3d7f3647582d8b3c18e746b2380c05"
  },
  "id": "m61OYxVwE5Fx6PrV",
  "tags": []
}